.tittleabme{
    padding-top: 95px;
    text-align: center;
}

.myinfo{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;

}

.me{
    color: #FF4A4A;
    font-weight: bold;
}